<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParadoxLocalisationAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ParadoxLocalisationAssistant.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>english</value>
            </setting>
            <setting name="GamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NewOriginalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NewOriginalFormat" serializeAs="String">
                <value>pml</value>
            </setting>
            <setting name="OldOriginalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OldOriginalFormat" serializeAs="String">
                <value>pml</value>
            </setting>
            <setting name="NewTranslationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NewTranslationFormat" serializeAs="String">
                <value>pml</value>
            </setting>
            <setting name="OldTranslationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OldTranslationFormat" serializeAs="String">
                <value>pml</value>
            </setting>
            <setting name="DiffOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffOutputFormat" serializeAs="String">
                <value>pml-safe</value>
            </setting>
            <setting name="DiffFilePath" serializeAs="String">
                <value />
            </setting>
        </ParadoxLocalisationAssistant.Properties.Settings>
    </userSettings>
</configuration>
